# Compiled class files
*.class

# Log and properties with sensitive info
*.log
*.properties

# Maven folder
target/
*.class

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iml

# VS Code files
.vscode/

# Operating system files
.DS_Store
Thumbs.db